/* CSS Syntax:

selector {
  property: value;
  property: value;
}

/* Type Selector */

p {
  /* This is going to select all <p> elements */
  font-size: 1em; /* 16px, ?pt, 100%, or 1em */
  line-height: 1.5em
}
